<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InternalFooBarFile" value="TestFooBar/InternalFooBar.json" />
    <add key="ExternalFooBarUrl" value="https://raw.githubusercontent.com/hemmachat/foobar/master/FooBarConsole/TestFooBar/ExternalFooBar.json" />
  </appSettings>
</configuration>